.sections {
  max-width: var(--max-width);
  margin: auto;
  position: relative;
}

@media (min-width: 601px) {
	.sections {
		padding-top: 50px;
    display: flex;
    gap: 20px;
    flex-direction: column;
	}
}