.home_section_content {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  min-height: calc(100vh - var(--header-size));
}

.home_section_description {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5px;
}

.home_section_description p {
  font-size: 30px;
  margin: 0;
  padding: 5px;
}

.image_container{
  border-radius: 50%;
  overflow: hidden;
  animation: fadeIn 3s ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0; 
    filter: blur(20px);
  }

  10% {
    opacity: 1;
    filter: brightness(2) blur(10px);
  }
}

.links_container {
  width: 100%;
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
}

.links_container > * {
  transition: color .5s;
  cursor: pointer;
}

.links_container > *:hover {
  color: var(--link-hover-color);
}

@media (max-width: 600px) {
  .home_section_content {
    margin-top: 10px;
    gap: 0;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100%;
  }
}