---
import Hamburguer from "./icons/Hamburguer.astro";
import { ThemeButton } from "./ThemeButton.jsx";

export interface Props {}

const {} = Astro.props;
---

<header
	class="p-3 h-[var(--app-bar-height)] flex items-center justify-between border-b-[1px] border-black border-solid top-0 w-full max-w-[900px] m-auto fixed z-10 backdrop-blur-sm gap-3 bg-[var(--op-background-color)] dark:bg-[var(--d-op-background-color)]"
>
	<code class="font-bold bg-[#7c3aed25] rounded py-1 px-2">
		&#60;/alvaro&#62;
	</code>
	<input class="hidden" type="checkbox" id="ham" name="ham" checked />
	<nav
		class="flex-1 max-sm:bg-[var(--background-color)] dark:max-sm:bg-[var(--d-background-color)] max-sm:absolute max-sm:top-[var(--app-bar-height)] max-sm:bottom-0 max-sm:left-0 max-sm:right-0 max-sm:h-[calc(100vh-var(--app-bar-height))] max-sm:pt-5 max-sm:opacity-95"
	>
		<ul
			class="flex gap-3 items-center sm:justify-end justify-center max-sm:flex-col"
		>
			<li><a href="#">Home</a></li>
			<li><a href="#projects">Projects</a></li>
			<li><a href="#timeLine">TimeLine</a></li>
			<li><a target="_blank" href="/cv.pdf">CV</a></li>
		</ul>
	</nav>
	<label
		for="ham"
		class="sm:hidden cursor-pointer flex-1 flex justify-end items-center"
	>
		<Hamburguer width="24px" height="24px" />
	</label>
	<ThemeButton client:load />
</header>

<style>
	@media (max-width: 639px) {
		#ham + nav {
			animation: out 0.3s forwards;
		}

		#ham:checked + nav {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			animation: in 0.3s forwards;
		}
	}

	@keyframes in {
		from {
			transform: translateX(-100%);
		}
		to {
			transform: translateX(0);
		}
	}

	@keyframes out {
		from {
			transform: translateX(0);
		}
		to {
			transform: translateX(-100%);
		}
	}
</style>
