---
import Hamburguer from './icons/Hamburguer.astro'
import ThemeButton from './ThemeButton.astro'
import { useTranslation, type Locale } from '../i18n/i18n'

const currentLocale = Astro.currentLocale as Locale
const t = useTranslation(currentLocale)
---

<header
  class="p-3 h-[var(--app-bar-height)] flex items-center justify-between border-b-[1px] border-black border-solid top-0 w-full max-w-[900px] m-auto fixed z-10 backdrop-blur-sm gap-3 bg-[var(--op-background-color)]"
>
  <code class="font-bold bg-[#7c3aed25] rounded py-1 px-2">
    &#60;/alvaro&#62;
  </code>
  <input class="hidden" type="checkbox" id="ham" name="ham" />
  <nav
    class="flex-1 max-sm:bg-[var(--background-color)] max-sm:absolute max-sm:top-[var(--app-bar-height)] max-sm:bottom-0 max-sm:left-0 max-sm:right-0 max-sm:h-[calc(100vh-var(--app-bar-height))] max-sm:pt-5 max-sm:opacity-95"
  >
    <ul
      class="flex gap-3 items-center sm:justify-end justify-center max-sm:flex-col"
    >
      <li>
        <a href="#top" class="font-semibold">{t('nav.home')}</a>
      </li>
      <li>
        <a href="#projects" class="font-semibold">{t('nav.projects')}</a>
      </li>
      <li>
        <a href="#timeLine" class="font-semibold">{t('nav.experience')}</a>
      </li>
      <li>
        <a target="_blank" href="/documents/cv.pdf" class="font-semibold">{t('nav.cv')}</a>
      </li>
    </ul>
  </nav>
  <label
    for="ham"
    class="sm:hidden cursor-pointer flex-1 flex justify-end items-center"
  >
    <Hamburguer width="24px" height="24px" />
  </label>
  <ThemeButton />
</header>

<style>
  @media (max-width: 639px) {
    #ham + nav {
      transform: translateX(-100%);
      transition: transform 0.3s;
    }

    #ham:checked + nav {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      transform: translateX(0);
    }
  }
</style>
