---
import { ThemeButton } from "./ThemeButton.jsx";

export interface Props {}

const {} = Astro.props;
---

<header
	class="p-3 h-[var(--app-bar-height)] flex items-center overflow-hidden justify-between border-b-[1px] border-black border-solid top-0 w-full max-w-[900px] m-auto fixed z-10 backdrop-blur-md"
>
	<code class="font-bold bg-[#7c3aed25] rounded py-1 px-2"
		>&#60;/alvaro&#62;</code
	>
	<nav>
		<ul class="flex list-none gap-3">
			<li><a href="#">Home</a></li>
			<li><a href="#projects">Projects</a></li>
			<li><a href="#timeLine">TimeLine</a></li>
			<li><a target="_blank" href="/cv.pdf">CV</a></li>
			<li><ThemeButton client:load /></li>
		</ul>
	</nav>
</header>

<style></style>
