---
import ArrowDown from "./icons/ArrowDown.astro";
import Github from "./icons/Github.astro";
import LinkedIn from "./icons/LinkedIn.astro";
import Mail from "./icons/Mail.astro";

export interface Props {}

const {} = Astro.props;
---

<section class="flex flex-col">
	<h3 class="text-2xl">Home</h3>
	<article
		class="flex gap-10 items-center justify-center h-full flex-col sm:flex-row"
	>
		<div class="text-2xl">
			<p>Hi!</p>
			<p>I'm Álvaro Martínez,</p>
			<p>Fullstack Developer</p>
		</div>
		<picture class="flex flex-col gap-3">
			<img
				src="/cw-game.png"
				class="rounded-full border-2 border-gray-500 w-60"
			/>
			<nav class="flex justify-center items-center gap-2">
				<a target="_blank" href="https://github.com/aIv4ro">
					<Github width="26px" height="26px" />
				</a>
				<button class="hover:text-[#0d5dc1] transition-colors">
					<Mail width="30px" height="30px" />
				</button>
				<a><LinkedIn width="30px" height="30px" /></a>
			</nav>
		</picture>
	</article>
	<a
		href="#projects"
		class="w-10 p-1 m-auto animate-bounce rounded-full border-2 border-[#D7CDE7] bg-white"
	>
		<ArrowDown />
	</a>
</section>
<style>
	section {
		height: calc(100vh - var(--app-bar-height) - 15px);
	}
</style>
