---
import Mail from './icons/Mail.astro'
import { useTranslation, type Locale } from '../i18n/i18n'

const currentLocale = Astro.currentLocale as Locale
const t = useTranslation(currentLocale)
---

<button
  class="hover:text-[var(--hover-text-color)] mail-button"
  aria-label={t('aria.label.button.contact')}
  >
  <Mail width={30} height={30} />
</button>

<script>
  const handleClick = (evt: any) => {
    evt.preventDefault();
    window.open("mailto:alvaromagu2002@gmail.com");
  };
  const buttons = document.querySelectorAll(".mail-button")!;
  buttons.forEach((button) => button.addEventListener("click", handleClick));
</script>
