---
import Mail from "./icons/Mail.astro";
---

<button class="transition-colors hover:text-[var(--hover-text-color)]">
	<Mail width="30px" height="30px" />
</button>

<script>
	const button = document.querySelector("button");
	button!.onclick = (evt) => {
		evt.preventDefault();
		window.open("mailto:alvaromagu2002@gmail.com");
	};
</script>
