---
import { ProjectI, Tecnology } from "../types/project";
import Project from "./Project.astro";

export interface Props {}

const projects: ProjectI[] = [
	{
		name: "Conways-Game",
		github: "https://github.com/aIv4ro/Conways-Game",
		web: "https://conways-game-alvaro.vercel.app/",
		image: "/cw-game.png",
		description: "Based",
		technologies: [Tecnology.Javascript, Tecnology.HTML, Tecnology.CSS],
	},
	{
		name: "Snake",
		github: "https://github.com/aIv4ro/snake",
		web: "https://snake-alvaro.vercel.app/",
		image: "/snake.png",
		technologies: [Tecnology.Angular],
	},
	{
		name: 'Wallhaven',
		github: "https://github.com/aIv4ro/wallhaven",
		web: 'https://wallhavendev.vercel.app/',
		image: '/wallhaven.png',
		technologies: [Tecnology.Angular]
	},
	{
		name: 'Image uploader',
		github: 'https://github.com/aIv4ro/iup-front',
		web: 'https://iup-front.vercel.app/',
		image: '/iup.png',
		technologies: [
			Tecnology.React
		]
	},
	{
		name: "TPV",
		github: "https://github.com/ModuloInterLunar",
		image: "/tpv.png",
		technologies: [
			Tecnology.CSharp,
			Tecnology.Kotlin,
			Tecnology.NodeJS,
			Tecnology.MongoDB,
		],
	},
	{
		name: "Gestión de instalaciones de pádel",
		github: "https://github.com/Alvaro-Final-Proyect",
		image: "/paddle.png",
		technologies: [
			Tecnology.MongoDB,
			Tecnology.NodeJS,
			Tecnology.Flutter,
		],
	},
];

const soonProject =	{
	name: "Chess",
	github: "https://github.com/aIv4ro/chess",
	web: "https://chessdev.vercel.app/",
	image: "/chess.png",
	description: "In progress...",
	technologies: [Tecnology.Angular],
}

const {} = Astro.props;
---

<section id="projects" class="flex flex-col gap-5 min-h-screen">
	<h3 class="text-2xl mt-16">Proyectos</h3>
	<ul class="grid grid-cols-1 gap-4 sm:grid-cols-2">
		{
			projects.map((project) => (
				<li>
					<Project project={project} />
				</li>
			))
		}
	</ul>
	<h3 class="text-2xl">Projecto en progreso</h3>
	<Project project={soonProject} />
	<div class="flex justify-center">
		<a target="_blank" href="https://github.com/aIv4ro?tab=repositories" class="p-3 bg-[var(--on-background-color)] dark:bg-[var(--d-on-background-color)] rounded-md">
			Ver más projectos
		</a>
	</div>
</section>
<style></style>
