---
import Project from './Project.astro'
import SectionTitle from './SectionTitle.astro'
import { useTranslation, type Locale } from '../i18n/i18n'
import Link from './Link.astro'
import { getProjects } from '../constants/projects'

const currentLocale = Astro.currentLocale as Locale
const t = useTranslation(currentLocale)
const projects = getProjects(t)
---

<section id='projects' class='flex flex-col gap-5 min-h-screen'>
  <SectionTitle>{t('projects.title')}</SectionTitle>
  <ul class='grid grid-cols-1 gap-4'>
    {
      projects.map((project) => (
        <li>
          <Project project={project} />
        </li>
      ))
    }
  </ul>
  <div class='flex justify-center'>
    <Link
      target='_blank'
      href='https://github.com/alvaromagu?tab=repositories'
      class='p-3 bg-on-primary rounded-md font-semibold'
    >
      {t('projects.see.more')}
    </Link>
  </div>
</section>
