---
import { type ProjectI, Tecnology } from '../types/project'
import Project from './Project.astro'
import SectionTitle from './SectionTitle.astro'
import { useTranslation, type Locale } from '../i18n/i18n'
import Link from './Link.astro'

const currentLocale = Astro.currentLocale as Locale
const t = useTranslation(currentLocale)

const projects: ProjectI[] = [
  {
    name: t('projects.ia.chat'),
    github: 'https://github.com/alvaromagu/ia-chat',
    web: 'https://iallm.vercel.app/',
    image: '/images/iallm-dark.webp',
    technologies: [Tecnology.React]
  },
  {
    name: t('projects.bg.remover'),
    github: 'https://github.com/alvaromagu/bg-remover',
    web: 'https://bg-remover-seven.vercel.app/',
    image: '/images/bg-remover-dark.webp',
    technologies: [Tecnology.React]
  },
  {
    name: t('projects.chess'),
    github: 'https://github.com/alvaromagu/chess',
    web: 'https://chessdev.vercel.app/',
    image: '/images/chess-dark.webp',
    technologies: [Tecnology.React]
  },
  {
    name: t('projects.cw.game'),
    github: 'https://github.com/alvaromagu/conways-game-dark',
    web: 'https://alvaromg-cg.vercel.app/',
    image: '/images/cw-game-dark.webp',
    technologies: [Tecnology.React]
  },
  {
    name: t('projects.wallhaven'),
    github: 'https://github.com/alvaromagu/wallhaven',
    web: 'https://wallhavendev.vercel.app/',
    image: '/images/wallhaven-dark.webp',
    technologies: [Tecnology.Angular]
  },
  {
    name: t('projects.pokeapp'),
    github: 'https://github.com/alvaromagu/pokeapp',
    web: 'https://pkdev.vercel.app/',
    image: '/images/pokeapp-dark.webp',
    technologies: [Tecnology.React]
  }
]
---

<section id='projects' class='flex flex-col gap-5 min-h-screen'>
  <SectionTitle>{t('projects.title')}</SectionTitle>
  <ul class='grid grid-cols-1 gap-4 sm:grid-cols-2'>
    {
      projects.map((project) => (
        <li>
          <Project project={project} />
        </li>
      ))
    }
  </ul>
  <div class='flex justify-center'>
    <Link
      target='_blank'
      href='https://github.com/alvaromagu?tab=repositories'
      class='p-3 bg-on-primary rounded-md font-semibold'
    >
      {t('projects.see.more')}
    </Link>
  </div>
</section>
