---
import Theme from "./icons/Theme.astro";

---
<button class="theme-button hover:text-[var(--hover-text-color)]" aria-label="Cambiar tema">
	<Theme width={20} height={20} />
</button>
<script>
	const button = document.querySelector('.theme-button');
	const handleClick = (evt: any) => {
		evt.preventDefault();
		document.documentElement.classList.toggle('dark')
	}
	button?.addEventListener('click', handleClick);
</script>