---
export interface Props {}
const timeLine = [
	{
		from: "Octubre 2022",
		to: "Actualidad",
		title: "Sime",
		content:
			"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione laudantium obcaecati rerum fugit optio. Eos placeat facere, iusto, velit a dolores neque rem aperiam totam doloribus obcaecati at ipsum nostrum?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione laudantium obcaecati rerum fugit optio. Eos placeat facere, iusto, velit a dolores neque rem aperiam totam doloribus obcaecati at ipsum nostrum?",
	},
	{
		from: "Marzo 2022",
		to: "Julio 2022",
		title: "Sime",
		content:
			"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione laudantium obcaecati rerum fugit optio. Eos placeat facere, iusto, velit a dolores neque rem aperiam totam doloribus obcaecati at ipsum nostrum?",
	},
	{
		from: "Septiembre 2020",
		to: "Junio 2022",
		title: "FP DAM",
		content:
			"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ratione laudantium obcaecati rerum fugit optio. Eos placeat facere, iusto, velit a dolores neque rem aperiam totam doloribus obcaecati at ipsum nostrum?",
	},
];

const {} = Astro.props;
---

<section id="timeLine" class="min-h-screen">
	<h3 class="text-2xl mb-3 mt-16">Experiencia</h3>
	<ol class="relative border-l border-blue-800 ml-2">
		{
			timeLine.map((work) => {
				return (
					<li class="mb-7 ml-4">
						<div class="absolute w-3 h-3 rounded-full mt-1.5 -left-1.5 bg-blue-400" />
						<time class="mb-1 font-semibold leading-none text-[#626262] dark:text-[#d5c5c5]">
							{work.from} - {work.to}
						</time>
						<h3 class="text-xl font-semibold text-black dark:text-white">
							{work.title}
						</h3>
						<p class="text-lg font-normal text-[#626262] dark:text-[#d5c5c5]">
							{work.content}
						</p>
					</li>
				);
			})
		}
	</ol>
</section>
<style></style>
