---
export interface Props {
  title: string
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Portfolio de Alvaro Martinez" />
    <meta
      name="google-site-verification"
      content="kJm0kBQ_514y1boWNCCIqNuiqJfkd9627lkMB8ijQvU"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="relative max-w-[900px] m-auto">
    <slot />
  </body>
</html>

<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/nunito-regular.woff2') format('woff2');
  }

  @font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/nunito-semibold.woff2') format('woff2');
  }

  @font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/nunito-bold.woff2') format('woff2');
  }

  :root {
    --app-bar-height: 60px;
    --text-color: black;
    --hover-text-color: #0d5dc1;
    --background-color: #f6f6f6;
    --op-background-color: #f6f6f6e0;
    --on-background-color: #e5e5e5;
    font-family: 'Nunito';
    scroll-behavior: smooth;
  }

  .dark {
    --text-color: #e0dfdf;
    --hover-text-color: #4497ff;
    --background-color: #2c3333;
    --op-background-color: #2c3333e0;
    --on-background-color: #395b64;
  }

  body {
    color: var(--text-color);
    background-color: var(--background-color);
  }

  a {
    color: var(--text-color);
  }

  a:hover {
    color: var(--hover-text-color);
  }
</style>
