---
import { useTranslation, type Locale } from '../i18n/i18n'

const currentLocale = Astro.currentLocale as Locale
const t = useTranslation(currentLocale)
---

<!doctype html>
<html lang={currentLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={t('description')} />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content={t('og.title')} />
    <meta property="og:description" content={t('og.description')} />
    <meta property="og:image" content={t('og.image')} />
    <meta property="og:url" content={Astro.url.origin} />
    <meta property="og:type" content="website" />
    <meta name="twitter:title" content={t('og.title')} />
    <meta name="twitter:description" content={t('og.description')} />
    <meta name="twitter:image" content={t('og.image')} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@alvaromagu" />
    <meta name="twitter:domain" content={Astro.url.hostname} />
    <link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
    <title>{t('title')}</title>
  </head>
  <body
    class="relative max-w-[900px] m-auto text-primary dark:text-primaryDark bg-primary dark:bg-primaryDark"
  >
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/nunito-regular.woff2') format('woff2');
  }

  :root {
    --app-bar-height: 60px;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
  }
</style>

<script>
  const prefersDark = (() => {
    const theme = localStorage.getItem('theme')
    if (theme != null) return theme === 'dark'
    return window.matchMedia('(prefers-color-scheme: dark)').matches
  })()
  if (prefersDark) {
    document.documentElement.classList.add('dark')
  }
</script>
