.projects_section {
  padding: 40px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projects_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  place-items: center;
  align-items: center;
}

@media (max-width: 600px) {
  .projects_container {
    grid-template-columns: 1fr;
  }
}