.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.container a {
    color: blue;
    font-size: 40px;
    font-weight: bold;
}

.container a:hover {
    text-decoration: underline;
}
